* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'presidencia_finaregular';
    color: rgba(4, 60, 74);
}
body.bg1 {
    background-image: url(background_001.jpg);
    background-repeat: no-repeat;
    background-position: right 120px;
}

.header, .footer {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    padding-top: 120px;
    padding-bottom: 50px;
}
.header img {
    width: 280px;
    height: auto;
}
.header, .footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.nav {
    margin-bottom: 80px;
}
.nav ul {
    padding: 0;
    list-style: none;
}
.nav > ul > li {
    position: relative;
    display: inline-block;
    width: 33%;
}
.nav > ul > li > a {
    display: inline-block;
    min-width: 180px;
    border-bottom: 1px solid rgba(4, 60, 74);
    font-size: 20px;
    padding-bottom: 2px;
    text-align: center;
}
.nav ul ul {
    display: none;
    position: absolute;
    top: 25px;
    width: 180px;
    padding: 15px;
    background-color: rgba(4, 60, 74);
}
.nav > ul > li:hover ul {
    display: block;
}
.nav > ul > li:hover a {
    border-bottom: 2px solid rgba(4, 60, 74);
    margin-bottom: -1px;
}
.nav ul ul a {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 20px;
    padding-bottom: 2px;
}
.nav ul ul a:hover {
    font-weight: 700;
}
.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.content {
    max-width: 820px;
    margin: 0 auto 120px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.25);
        font-size: 18px;
}
.content h1, h2, h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}
.content ul {
    list-style-type: none;
    padding: 0;
}
.content ul li:before {
    content: "-";
    margin-right: 3px;
}
.content p {
    max-width: 75%;
}
.footer {
    margin-bottom: 30px;
    /* position: fixed;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 100%; */
}
.footer p {
    font-size: 14px;
}

/* typo */
i {
    font-family: 'presidencia_finaitalic';
}
a {
    text-decoration: none;
    color: rgba(4, 60, 74);
}
